{% extends 'sidebar-page.html' %}

{% block main %}

<h3>{{ title }}</h3>

<form method="POST" action="">
  <div>
    {{ form.title.label }}
    {% if form.title.errors %}
      {% for error in form.title.errors %}
        <span>{{ error }}</span>
      {% endfor %}
    {% endif %}
    {{ form.title(class_="u-full-width") }}
  </div>
  <div>
    {{ form.content.label }}
    {{ form.content(class_="u-full-width") }}
  </div>
  <div>
    {{ form.submit(class_="button-primary") }}
  </div>
  {{ form.csrf_token }}
</form>

{% endblock main %}

{% block sidebar %}

  <h3>My Recent Posts</h3>

  {% if posts %}
  <table class="u-full-width">
    <thead>
      <tr>
        <th>Title</th>
        <th>Date Created</th>
      </tr>
    </thead>
    <tbody>
      {% for post in posts %}
      <tr>
        <td><a href="{{ url_for('blog.single_post', post_id=post.id) }}">{{ post.title }}</a></td>
        <td>{{ post.date_posted.strftime('%d-%m-%Y') }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    <p>You haven't written any posts yet!</p>
  {% endif %}

{% endblock sidebar %}
