{% extends 'layout.html' %}

{% block body %}
  
  <h1>Welcome to my Blog!</h1>

  <div id="blogroll">
    {% for post in posts %}
    <article>
      <div class="card">
        <div>
          <h4><a href="{{ url_for('blog.single_post', post_id=post.id) }}">{{ post.title }}</a></h4>
          <div>
            <small>{{ post.user_id }} | {{ post.date_posted.strftime('%d-%m-%Y') }}</small>
          </div>
        </div>
        <div>
          {% if post.content|length < 500 %}
            <p>{{ post.content }}</p>
          {% else %}
            <p>{{ post.content[:500] }} &hellip;</p>
          {% endif %}
        </div>
      </div>
    </article>

    <hr>
    {% endfor %}
  </div>
  

{% endblock body %}