{% extends 'layout.html' %}

{% block body %}
  
<!-- Showcase -->
<section id="showcase">
  <h1>Welcome to MySpace</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ipsum distinctio aut ad optio deleniti adipisci rem. Ut iure, voluptate, doloribus culpa ratione nulla tenetur hic earum temporibus, eos voluptatum?</p>
</section>
<!-- setup background image, 100vh and that's it -->

<!-- Portfolio -->
<section id="portfolio">

</section>

<!-- Contacts -->

<!-- Footer -->

{% endblock body %}
