{% extends 'sidebar-page.html' %}

{% block main %}
  
  <h3>Add New User</h3>

  <form method="POST" action="">
    <div>
      {{ form.username.label }}
      {% if form.username.errors %}
        {% for error in form.username.errors %}
          <span>{{ error }}</span>
        {% endfor %}
      {% endif %}
      {{ form.username(class_="u-full-width") }}
    </div>
    <div>
      {{ form.email.label }}
      {% if form.email.errors %}
        {% for error in form.email.errors %}
          <span>{{ error }}</span>
        {% endfor %}
      {% endif %}
      {{ form.email(placeholder="example@mailbox.com", class_="u-full-width") }}
    </div>
    <div>
      {{ form.password.label }}
      {{ form.password(class_="u-full-width") }}
    </div>
    <div>
        {{ form.confirm_password.label }}
        {% if form.confirm_password.errors %}
          {% for error in form.confirm_password.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        {% endif %}
        {{ form.confirm_password(class_="u-full-width") }}
    </div>
    <div>
      {{ form.submit(class_="button-primary") }}
    </div>
    {{ form.csrf_token }}
  </form>

{% endblock main%}

{% block sidebar %}

  <h3>Current Users</h3>

  <table class="u-full-width">
    <thead>
      <tr>
        <th>Username</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock sidebar %}